package grpc

import (
    pb "{{.ModPrefix}}{{.Name}}/api"
    "{{.ModPrefix}}{{.Name}}/internal/service"
	"github.com/zhangjinglei/wahaha/pkg/conf/paladin"
	"github.com/zhangjinglei/wahaha/pkg/net/rpc/warden"
)

// New new a grpc server.
func New() (ws *warden.Server, err error) {
	var (
		cfg warden.ServerConfig
		ct paladin.TOML
	)
	if err = paladin.Get("application.toml").Unmarshal(&ct); err != nil {
		return
	}
	if err = ct.Get("GrpcServer").UnmarshalTOML(&cfg); err != nil {
		return
	}
	ws = warden.NewServer(&cfg)
	s:=&service.Service{}
	pb.RegisterDemoServer(ws.Server(), s)
	ws, err = ws.Start()
	return
}
